<section class="antialiased bg-gray-100 text-gray-600 h-screen px-4" x-data="app">
  <div class="flex flex-col justify-center h-full">
    <!-- Table -->
    <div class="w-full max-w-2xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
      <header class="px-5 py-4 border-b border-gray-100">
        <div class="font-semibold text-gray-800">Tests</div>
      </header>

      <div class="overflow-x-auto p-3">
        <table class="table-auto w-full">
          <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
            <tr>
              <th class="p-2">
                <div class="font-semibold text-left">Name</div>
              </th>
              <th class="p-2">
                <div class="font-semibold text-left">Description</div>
              </th>
              <th class="p-2">
                <div class="font-semibold text-left">Questions</div>
              </th>
              <th class="p-2">
                <div class="font-semibold text-center">Action</div>
              </th>
            </tr>
          </thead>

          <tbody class="text-sm divide-y divide-gray-100">
            
            <!-- tests -->
            <tr *ngFor='let test of tests'>
              <td class="p-2">
                <div class="font-medium text-gray-800">
                  {{test.name}}
                </div>
              </td>
              <td class="p-2">
                <div class="text-left">
                  {{test.description}}
                </div>
              </td>
              <td class="p-2">
                <div class="text-left font-medium text-green-500">
                  {{test.question_count}}
                </div>
              </td>
              <td class="p-2">
                <div class="flex justify-center">
                  <button>
                    <i class="m-2 fa-solid fa-sliders"></i>
                  </button>

                  <button>
                    <svg class="w-8 h-8 hover:text-blue-600 rounded-full hover:bg-gray-100 p-1" fill="none"
                      stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16">
                      </path>
                    </svg>
                  </button>
                </div>
              </td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>
  </div>
</section>